.toolbar-container {
    display: flex;
    justify-content: space-between;
    background-color: white;
    
    .toolbar-left {
        padding: 0.75em 0em;
    }

    .toolbar-right {
        display: flex;
        align-items: center;
        .profile-pic {

            .gen-profile-pic {
                font-size: 30px;
                margin: 0px auto;
                border: 2px solid black;
                border-radius: 50px;
                width: 50px;
                height: 50px;
                text-align: center;
                margin-right: 15px;
                color: white;
                text-shadow: 1px 2px 1px black;
                user-select: none;
                cursor: pointer;
            }

            img {
                width: 50px;
                height: 50px;
                object-fit: cover;
                border-radius: 40px;
                padding: 3px;
                border: 2px solid ;
                margin-right: 15px;
            }
        }

        button {
            height: 35px;
            margin-top: 5px;
            margin-right: 10px;
        }
    }
}

.board-header {
    background-color: #0079bf;
    padding: 10px;
    margin: 0px;
    padding-left: 40px;
    color: rgb(231, 231, 231);
    height: 50px;
}

.container {
    background-color: #a4c2da;
    height: 100vh;
    padding: 0px;
}

.allboard-container {
    display: grid;
    grid-template-columns: 33.33% 33.33% 33.33%;
    padding: 10px;

    .single-board {
        margin: 10px;
        a {
            text-decoration: none;
            mat-card {
                color: white;

                h4 {
                    font-weight: bold;
                    text-shadow: 0 0 3px black;
                }
                p {
                    color: #525150
                }
            }

        }
    }
}