<div class="container">
    <div class="toolbar-container">
        <div class="toolbar-left">
            <button mat-button type="button" label="Task Mangement Tool" style="font-weight: bold; font-size: 1.25rem;">Task Mangement Tool</button>
            <button mat-raised-button (click)="createBoard()" color="primary" type="button" style="margin-left:.25em">Create Board</button>
        </div>
        <div class="toolbar-right">
            <button mat-raised-button color="warn" type="button" style="margin-left:.25em">Logout</button>
        </div>
    </div>

    <div class="board-container">
        <div 
            (onDrop)="drop(listitem.id)"
            class="listitem-container"
            *ngFor="let listitem of boardData.listItems; index as listIndex"
            >
            <p><b>{{listitem.name}}</b></p>
            <div 
                (onDragStart)="dragStart(carditem, listitem.id)"
                (onDragEnd)="dragEnd()"
                class="carditem-container" 
                *ngFor="let carditem of listitem.cardItems"
                >
                <div>{{carditem.name}}</div>
            </div>
            <button 
                (click)="openAddCardDialog(listIndex)" 
                *ngIf="addCardBtnVisibility[listIndex]" 
                mat-stroked-button color="primary" type="button">
                Add a card
            </button>
            <div *ngIf="!addCardBtnVisibility[listIndex]" class="add-card-dialog">
                <input type="text" [(ngModel)]="cardValue" /> 
                <div class="card-add-input-option-section">
                    <button
                         mat-flat-button
                         class="add-card-button"
                         type="button">
                         Add card
                    </button>

                    <button 
                        (click)="toggleCardButtonVisibility(listIndex)"
                        mat-icon-button 
                        color="warn"
                        aria-label="Cancel button"
                        class="cross-btn">
                        <mat-icon>close</mat-icon>
                    </button>
                    
                </div>
            </div>
    </div>
</div>