$bgColor: #dfdfdf;
$button-primary: #0079bf;

.toolbar-container {
    display: flex;
    justify-content: space-between;
    padding: 0.75em 0em; 
}

.board-header {
    background-color: #0079bf;
    padding: 10px;
    margin: 0px;
    padding-left: 40px;
    color: rgb(231, 231, 231);
    height: 50px;
    box-shadow: 1px 1px 2px 2px #10528d;
    margin: 2px;

    input[type=text] {
        font-weight: bold;
        font-size: 20px;
        text-decoration: none;
        cursor: pointer;
    }
}

.noneditable {
    border: none;
    outline: none;
    background: transparent;
    color: white;
    text-decoration: underline !important;
}

.board-container {
    background-color: $bgColor;
    height: calc(100vh - 110px);
    padding: 20px;
    display: flex;
    align-items: flex-start;
    overflow: auto;

    .all-lists-container {
        display: flex;
        align-items: flex-start;
    }


    .listitem-container {
        max-width: 260px;
        margin-right: 20px;
        padding: 10px;
        background: #ebecf0;
        text-align: center;
        border-radius: 10px;
        box-shadow: 0px 0px 2px 1px darkgrey;

        > * {
            min-width: 240px;
        }

        .allcard-container {
            min-height: 5px;

            .carditem-container {
                background-color: white;
                color: black;
                padding: 5px;
                margin-bottom: 5px;
                margin-top: 5px;
                border-radius: 5px;
                box-shadow: inset 0 0 2px #00002c;
                font-weight: normal;
                caret-color: auto;
                display: flex;
                justify-content: space-between;

                p {
                    margin-bottom: 0px;
                    width: 100%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }

                mat-icon {
                    color: red;
                    display: none;
                }
            }

            .carditem-container:hover {
                background-color: rgb(245, 244, 244);
            }
            .carditem-container:hover > button mat-icon {
                display: block;
            }
        }

        .add-card-dialog {
            margin-top: 20px;

            > * {
                min-width: 240px;
            }

            input {
                min-height: 80px;
                padding: 10px;
            }

            .card-add-input-option-section {
                margin-top: 10px;

                .add-card-button {
                    background-color: $button-primary;
                    color: white;
                }

                .cross-btn {
                    margin-left: 10px;
                }
            }
        }
    }

    .add-new-list-container {
        padding: 10px;
        background-color: #efefef;
        border-radius: 10px;
        box-shadow: 0px 0px 2px 1px darkgrey;

        .add-a-list-btn {
            min-width: 240px;
            background-color: #d6d9d7;
            font-weight: bold;
            color: black;
        }

        .list-card-dialog {
            margin-top: 20px;

            > * {
                min-width: 240px;
            }

            input {
                min-height: 80px;
                padding: 10px;
            }

            .list-add-input-option-section {
                margin-top: 10px;

                .list-card-button {
                    background-color: $button-primary;
                    color: white;
                }

                .cross-btn {
                    margin-left: 10px;
                }
            }
        }
    }
    
}

.cdk-drag-preview {
    box-sizing: border-box;
    border-radius: 4px;
    text-align: center;
    box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2), 0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.cdk-drag-preview > button mat-icon {
    display: none;
}

.cdk-drag-placeholder {
    opacity: 0;
}

.cdk-drag-animating {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.carditem-container:last-child {
    border: none;
}

.allcard-container.cdk-drop-list-dragging .example-box:not(.cdk-drag-placeholder) {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}