<div class="container">
    <ng-snotify></ng-snotify>
    <div class="toolbar-container">
        <div class="toolbar-left">
            <button mat-button type="button" label="Task Mangement Tool" style="font-weight: bold; font-size: 1.25rem;">Task Mangement Tool</button>
            <a routerLink="/allboards"><button mat-raised-button color="primary" type="button" style="margin-left:.25em">All Boards</button></a>
            <button mat-raised-button (click)="createBoard()" color="accent" type="button" style="margin-left:.25em">Create Board</button>
        </div>
        <div class="toolbar-right">
            <div *ngIf="username">
                <b style="margin-right: 15px;">Hello, {{username}}</b>
                <button (click)="logOut()" mat-raised-button color="warn" type="button" style="margin-left:.25em">Logout</button>
            </div>
            
        </div>
    </div>
    <div class="board-header">
        <input 
            (click)="onClickBoardName()"
            (blur)="onBlurBoardTitleEdit()"
            type="text"
            size="30"
            [ngClass]="canEditBoardTitle? '': 'noneditable'"
            type="text"
            [(ngModel)]="boardNameValue"
            />
        <button mat-icon-button
            [matMenuTriggerFor]="menu" #menuTrigger
            >
            <mat-icon>more_vert</mat-icon>
        </button>

        <mat-menu #menu="matMenu">
            <button mat-menu-item (click)="changeBackground()">Change Background</button>
            <button mat-menu-item >Add Member</button>
            <button mat-menu-item >Delete Board</button>
        </mat-menu>
    </div>

    <div cdkDropListGroup class="board-container"
        [style.background]="boardBg"
        >
        <div
            *ngIf="!!boardData"
            
            class="all-lists-container">
            <div
                class="listitem-container"
                *ngFor="let listitem of boardData.listitems; index as listIndex"
                >
                <div class="list-title-secton">
                    <input
                        (blur)="onBlurListTitleEdit(listIndex)"
                        type="text"
                        [ngClass]="canEditListTitle[listIndex]? '': 'noneditable'"
                        [(ngModel)]="listitem.name"
                    />
                    <button mat-icon-button
                        [matMenuTriggerFor]="listMenu" #menuTrigger
                        >
                        <mat-icon>more_vert</mat-icon>
                    </button>
                    <mat-menu #listMenu="matMenu">
                        <button mat-menu-item (click)="renameList(listIndex)">Rename List</button>
                        <button mat-menu-item (click)="deleteList(listIndex)" >Delete List</button>
                    </mat-menu>
                </div>
                <div
                    cdkDropList
                    [cdkDropListData]="listitem"
                    (cdkDropListDropped)="drop($event)"
                    class="allcard-container"
                    >
                    <div 
                        cdkDrag
                        class="carditem-container"
                        *ngFor="let carditem of listitem.carditems; index as cardIndex"
                        (click)="openDialog(listitem.name, carditem)"
                        >
                        <p>{{carditem.name}}</p>
                        <button mat-icon-button (click)="deleteCard(listIndex, cardIndex); $event.stopPropagation();">
                            <mat-icon >delete</mat-icon>
                        </button>
                    </div>

                </div>
                    
                <button 
                    (click)="openAddCardDialog(listIndex)" 
                    *ngIf="addCardBtnVisibility[listIndex]" 
                    mat-stroked-button color="primary" type="button">
                    Add a card
                </button>
                <div *ngIf="!addCardBtnVisibility[listIndex]" class="add-card-dialog">
                    <input type="text" [(ngModel)]="cardValue" /> 
                    <div class="card-add-input-option-section">
                        <button
                            (click)="addNewCard(listitem.id, listIndex)"
                            mat-flat-button
                            class="add-card-button"
                            type="button">
                            Add card
                        </button>

                        <button 
                            (click)="toggleCardButtonVisibility(listIndex)"
                            mat-icon-button 
                            color="warn"
                            aria-label="Cancel button"
                            class="cross-btn">
                            <mat-icon>close</mat-icon>
                        </button>
                        
                    </div>
                </div>
            </div>

        </div>
        

        <!-- New List Add -->
        <div class="add-new-list-container">
            <button 
            (click)="openAddListDialog()" 
            *ngIf="addListBtnVisibility"
            class="add-a-list-btn" 
            mat-stroked-button color="primary" type="button">
            Add a List
            </button>
            <div *ngIf="!addListBtnVisibility" class="list-card-dialog">
                <input type="text" [(ngModel)]="listValue" /> 
                <div class="list-add-input-option-section">
                    <button
                        (click)="addNewList()"
                        mat-flat-button
                        class="list-card-button"
                        type="button">
                        Add List
                    </button>

                    <button 
                        (click)="toggleListButtonVisibility()"
                        mat-icon-button 
                        color="warn"
                        aria-label="Cancel button"
                        class="cross-btn">
                        <mat-icon>close</mat-icon>
                    </button>
                    
                </div>
            </div>
        </div>
    </div>
</div>