<div class="container-main">
    <mat-card>
        <h3>Task Management Tool</h3>
        <hr>
        <p>
            <mat-form-field appearance="outline">
                <mat-label>Username</mat-label>
                <input matInput placeholder="Enter username" type="text">
                <mat-icon matSuffix>account_circle</mat-icon>
            </mat-form-field>
        </p>
        <p>
            <mat-form-field appearance="outline">
                <mat-label>Password</mat-label>
                <input matInput placeholder="Enter password">
                <mat-icon matSuffix>lock</mat-icon>
            </mat-form-field>
        </p>
        <button mat-raised-button color="primary">Login</button>
    </mat-card>
</div>