
<div class="container-main">
    <div class="header">
        <div class="title-section">
            <mat-icon>home</mat-icon>
            <h4>BE - Comment Functionality in BE Endpoint</h4>
        </div>
        <p>in list <span><u>To Do</u></span></p>
    </div>
    <div class="description-section">
        <div class="description-title">
            <mat-icon>subject</mat-icon>
            <p><b> Description</b></p>
        </div>
        <p class="desciption-content">This example contains tests. Open in Stackblitz to run the tests.</p>
    </div>

    <div class="comment-section">
        <div class="comment-title">
            <mat-icon>comment</mat-icon>
            <p><b> Comment</b></p>
        </div>
        <div class="comment-content">
            <div class="comment-input">
                <input type="text" [(ngModel)]="commentValue" /> 
                <button
                    mat-flat-button
                    class="add-comment-button"
                    type="button">
                    Post
                </button>
            </div>
            
        </div>
    </div>



</div>
