
<div class="container-main">
    <div class="header">
        <div class="title-section">
            <mat-icon class="home-icon">home</mat-icon>
            <input
                (blur)="onBlurTitleEdit()"
                class="card-title"
                type="text"
                size="30"
                [ngClass]="canEditCardTitle? '': 'noneditable'"
                [(ngModel)]="data.cardItem.name"
                [disabled]="!canEditCardTitle">
            <button mat-icon-button (click)="editCardTitle()" class="edit-icon">
                <mat-icon>edit_note</mat-icon>
            </button>
        </div>
        <p>in list <span><u>{{data.listName}}</u></span></p>
    </div>
    <div class="description-section">
        <div class="description-title">
            <mat-icon>subject</mat-icon>
            <p><b> Description</b></p>
            <button mat-icon-button (click)="editCardDesc()" class="edit-icon">
                <mat-icon>edit_note</mat-icon>
            </button>
        </div>
        <textarea
            (blur)="onBlurDescEdit()"
            class="desciption-content"
            type="text"
            [ngClass]="canEditCardDesc? '': 'noneditable'"
            [(ngModel)]="data.cardItem.desc"
            [disabled]="!canEditCardDesc">
    </textarea>
    </div>
    <mat-dialog-content>
        <div class="comment-section">
            <div class="comment-title">
                <mat-icon>comment</mat-icon>
                <p><b> Comment</b></p>
            </div>
            <div class="comment-content">
                <div class="comment-input">
                    <input type="text" [(ngModel)]="commentValue" /> 
                    <button
                        (click)="postComment()"
                        mat-flat-button
                        class="add-comment-button"
                        type="button">
                        Post
                    </button>
                </div>

                <div class="all-comments">
                    <div
                        *ngFor="let commentItem of comments"
                        class="single-comment">
                        <p class="commenter"><b>{{commentItem.commenter_name}}</b><span style="margin-left: 8px">{{commentItem.timeframe}}</span></p>
                        <mat-card>
                            <p>{{commentItem.comment}}</p>
                        </mat-card>
                        <hr>
                    </div>
                </div>
                
            </div>
        </div>
    </mat-dialog-content>



</div>
